*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}
.card-body a{
    color: #212529;
    text-decoration: none
}
.card-body img{
    width: 100%;
    height: 140px;
}
h2{
    font-weight: 600;
}
  h4{
    font-weight: 500;
}
h1,h2,h3,h4,h5,h6{
    font-family: nunito;
}
.card-body:hover{
 background-color: #eee;
 box-shadow: 0 0 11px rgba(33,33,33,.2); 
 transition: all 0.3s ease-in-out;
}